<link rel="import" href="../polymer/polymer.html">

<link rel="import" href="../iron-resizable-behavior/iron-resizable-behavior.html">
<link rel="import" href="../paper-listbox/paper-listbox.html">
<link rel="import" href="../paper-dropdown-menu/paper-dropdown-menu.html">
<link rel="import" href="../paper-item/paper-item.html">
<link rel="import" href="../iron-validatable-behavior/iron-validatable-behavior.html">
<link rel="import" href="calm-dropdown-validator.html" >

<!--
`calm-dropdown-menu`
is an extension of the `paper-dropdown-menu` that works well in a `calm-form`. Other than the `paper-dropdown-menu`'s content the `calm-dropdown-menu`'s content will always resize to match the element's size.

### Styling
The following custom properties and mixins are also available for styling:

Custom property | Description | Default
----------------|-------------|----------
`--calm-dropdown-menu-error-color` | Color of the underline if the input is invalid | `red`

You can also use any of the `paper-dropdown-menu`, `paper-input-container` and `paper-menu-button`
style mixins and custom properties to style the internal input and menu button
respectively.

@demo demo/index.html
-->

<dom-module id="calm-dropdown-menu">
    <template>
    <style>
    :host{
        display: block;
        margin-bottom: 8px;
        position: relative;
        height: 62px;
        width: 200px;
    }
    #dropdownMenu{
        width: 100%;
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
    }
    .isInvalid{
        position: absolute;
        font-size: 0.75em;
        color: var(--calm-dropdown-menu-error-color, red);
    }
    .invalidMessage{
        margin: 0;
        padding: 0;
        position: relative;
        bottom: 5px;
    }
    .errorLine{
        position: absolute;
        border-bottom: 2px solid var(--calm-dropdown-menu-error-color, red);
        left: 0;
        right: 0;
        bottom: 8px;
    }
    .errorLineWrapper{
        position: relative;
    }
    </style>
    <paper-dropdown-menu id="dropdownMenu" label="{{label}}" on-tap="resize" on-value-changed="_valueChanged">
        <paper-listbox id="dropdownContent" class="dropdown-content" selected="{{selected}}">
            <template is="dom-repeat" items="{{options}}">
                <paper-item>{{item.description}}</paper-item>
            </template>
        </paper-listbox>
    </paper-dropdown-menu>
    <template is="dom-if" if="{{isInvalid}}">
        <div class="isInvalid">
            <p class="invalidMessage">{{errorMessage}}</p>
        </div>
        <div class="errorLineWrapper">
            <div class="errorLine"></div>
        </div>
    </template>
    <calm-dropdown-validator id="validator" validator-name="calm-dropdown-validator"></calm-dropdown-validator>
</template>

<script>
Polymer({
    is: "calm-dropdown-menu",
    behaviors: [
        Polymer.IronResizableBehavior,
        Polymer.IronValidatableBehavior
    ],
    listeners: {
        'iron-resize': '_onIronResize',
        'iron-select': '_onIronSelect'
    },
    properties: {
        /**
        *   The label for the dropdown.
        */
        label:String,

        /**
        *   The array holding the options displayed in the dropdown.
        */
        options:{
            type:Array,
            value: function(){return [];}
        },

        /**
        *   The shown value of the currently selected option. Changing this will not change the selection of the dropdown.
        */
        selectedDescription:{
            type: String,
            notify: true,
            observer: "_descriptionChanged"
        },

        /**
        *   The name of the currently selected option.
        */
        selectedName:{
			type: String,
			notify: true,
			observer: "_nameChanged"
		},

        /**
        *   The 'value' property of the currently selected option.
        */
        selectedValue:{
            type: Object,
            notify: true,
            observer: "_valueChanged"
        },

        /**
        *   Index of the currently selected option.
        */
        selected:{
            type: Number,
            notify: true
        },

        /**
        *   True if the input is required and should be validated, otherwise false.
        */
        required:{
            type: Boolean,
            notify: true
        },

        /**
        *   True if the last validation check failed, otherwise true.
        */
        isInvalid:{
            type:Boolean,
            notify: true
        },

        /**
        *   The message displayed if the validation failes.
        */
        errorMessage: {
            type:String,
            notify: true
        }
    },

    /**
    *   Notifies resize.
    */
    attached: function(e){
        this.didResize = false;
        this.async(this.notifyResize, 700);
    },

    /**
    *   Resizes the dropdown content to match the size of the element.
    */
    _onIronResize: function(){
        if (this.$.dropdownMenu.offsetWidth > 0){
            this.$.dropdownContent.style.width = this.$.dropdownMenu.offsetWidth+"px";
            this.didResize = true;
        }
    },

    /**
    *   Sets the 'selectedDescription', 'selectedName' and 'selectedValue' properties according to the new selection.
    */
    _onIronSelect: function(){
        if (this.options[this.$.dropdownContent.selected].description != null){
            this.selectedDescription = this.options[this.$.dropdownContent.selected].description;
        }
        if (this.options[this.$.dropdownContent.selected].name != null){
            this.selectedName = this.options[this.$.dropdownContent.selected].name;
        }
        if (this.options[this.$.dropdownContent.selected].value != null){
            this.selectedValue = this.options[this.$.dropdownContent.selected].value;
        }
    },

    /**
    *   Checks if the input is marked as required and if so checks if a valid selection was made.
    *   @return {boolean} true if input is valid, otherwise false.
    */
    validate: function(){
        this.isInvalid = !this.$.validator.validate(this);
        return !this.isInvalid;
    },

    /**
    *   Resizes the content to match the element's size.
    */
    resize: function(){
        if (!this.didResize){
            this.notifyResize();
        }
    },

    /**
    *   Updates the currently select value of the dropdown.
    */
    _nameChanged: function(){
		if (this.selectedName == null){
			this.selected = null;
			this.selectedDescription = null;
			this.selectedValue = null;
            return;
		}
		for (var index = 0 ; index < this.options.length; index++){
			if (this.options[index].name == this.selectedName){
				this.selected = index;
				break;
			}
		}
	},

    _valueChanged: function(){
        if (this.selectedValue == null){
			this.selected = null;
			this.selectedDescription = null;
			this.selectedName = null;
            return;
		}
        for (var index = 0 ; index < this.options.length; index++){
			if (this.options[index].value == this.selectedValue){
				this.selected = index;
				break;
			}
		}
    },

    _descriptionChanged: function(){
        if (this.selectedDescription == null){
            this.selected = null;
			this.selectedValue = null;
			this.selectedName = null;
            return;
        }
        for (var index = 0; index < this.options.length; index++){
            if (this.options[index].description == this.selectedDescription){
                this.selected = index;
                break;
            }
        }
    },

    _valueChanged: function(e) {
      this.fire("value-changed", e);
    }
});
</script>
</dom-module>
